.custom-footer  {
  grid-column: 1 / -1;
  width: 100%;
  font-size: 0.8rem;
  color: var(--brand-fg);
  background-color: var(--nav-bg);
  position: relative;
  z-index: 9999;
}

.footer-inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.footer-left,
.footer-center,
.footer-right {
  flex: 1;
  min-width: 120px;
}

.footer-center {
  text-align: center;
}

.footer-left {
  text-align: left;
}

.footer-right {
  text-align: right;
}

.custom-footer a {
  color: inherit;
  text-decoration: underline;
}

.custom-footer a:hover {
  color: var(--purple-base);
}

.footer-note {
  background-color: var(--brand-color-3);
  color: var(--fg);
  text-align: center;
  padding: 0.75rem;
  font-size: 0.9rem;
}