.qpyodide-editor-toolbar {
  font-size: 0.9rem;
  background: var(--grey-base);
  padding: 0.3rem 0.6rem;
  border: 1px solid var(--nav-bg);
}

.qpyodide-editor {
  border: 1px solid var(--nav-bg);
  border-top: none;
  font-size: 0.9rem;
  background-color: var(--pyodide-editor-bg);
}

.qpyodide-output-code-area {
  margin-top: 0.4rem;
  padding: 0.6rem 0.8rem;
  border: 1px solid var(--nav-bg);
  background-color: var(--cell-out-bg);
  font-size: 1rem;
  line-height: 1.4;
  color: var(--brand-color-2);
}

.qpyodide-output-code-area pre {
  margin: 0;
  font-family: var(--font-code);
  white-space: pre-wrap;
  background-color: var(--bg-dark);
}

.qpyodide-output-code-area  {
  border-left: 4px solid var(--brand-color-2);
}

.qpyodide-output-code-area class {
  display: inline;
  font-family: var(--font-code);
  color: var(--brand-color-2);
}