.quick-links {
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding-left: 1rem;
  border-left: 2px solid var(--fg);
}

.quick-link-item {
  margin-bottom: 0.75rem;
  line-height: 1.4;
}

.quick-link-item a {
  text-decoration: none;
  font-weight: 1.4;
}

.quick-link-item a:hover {
  text-decoration: underline;
}